.card {
    color: black;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-body {
    width: 100%;
    height: auto;
}   